<div class="container-fluid">
	<div class="menu-panel">
		<img src="images/me.jpg" class="photo-medium rounded">
		<ul class="nav main-menu">
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>

	<header id="header-main">
		<nav>
			<a id="tblcontents" class="btn btn-menu">Table of Contents</a>
			<a id="nav-prev" href="#" class="btn">â†</a>
			<a id="nav-next" href="#" class="btn">â†’</a>
		</nav>
	</header>

	<div id="content" class="content">
		fasfsd fafasdf fasfsd fafasdf fasfsd fafasdf fasfsd fafasdf fasfsd fafasdf fasfsd fafasdf fasfsd fafasdf fasfsd fafasdf fasfsd fafasdf fasfsd fafasdf fasfsd fafasdf fasfsd fafasdf fasfsd fafasdf fasfsd fafasdf fasfsd fafasdf
	</div>

</div>
